@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Raleway:wght@900&display=swap");
:root {
  font-size: 10px;
  /*CUSTOM PROPERTIES*/
  --header-height: 4.8rem;
  --nav-whidth: 340px;
  --first-color: #6e52ff;
  --firt-color-lightened: #9a90fc;
  --second-color: #ffcc4d;
  --second-color-lightened: #ffe7b0;
  --light-color: #e9e1f4;
  --light-color-lightened: #fbf8ff;
  --dark-color: #5b5b5b;
  --dark-color-lightened: #7a7a7a;
  --font-weight-thin: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 600;
  --font-weight-black: 900;
  --font-main: "Poppins", sans-serif;
  --font-hero-: "Raleway", sans-serif;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.3rem;
  --font-size-smaller: 1.2rem;
  --mb-1: 0.8rem;
  --mb-2: 1.6rem;
  --mb-3: 2.4rem;
  --mb-4: 3.2rem;
  --mb-5: 4rem;
  --z-fixed: 99;
}

/*BREAK POINTS*/
@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --font-size-medium: 1.6rem;
    --font-size-small: 1.4rem;
    --font-size-smaller: 1.3rem;
  }
}

/*BASE STYLES*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-color-lightened);
  margin: var(--header-height) 0, 0, 0;
  font-family: var(--font-main);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--dark-color);
  line-height: 2.56rem;
}

h1,
h2,
h3,
p {
  margin: 0;
  color: var(--dark-color);
}

h3 {
  font-weight: var(--font-weight-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*CSS CLASSES*/
.section {
  padding: 6.4rem 0 3.2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--font-size-small);
  color: var(--dark-color);
  text-align: center;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.4rem;
}

/*LAYOUT*/
.l-main {
  padding: 1rem;
}

.bd-grid {
  color: var(--light-color-lightened);
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-column-gap: 3.2rem;
          column-gap: 3.2rem;
  width: calc(100%-3.2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--firt-color-lightened);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  padding: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--first-color);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav_close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-size: 3.2rem;
  color: var(--light-color);
  cursor: pointer;
}

.nav_item {
  margin-bottom: var(--mb-4);
}

.nav_link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--light-color-lightened);
  font-weight: var(--font-weight-bold);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav_link:hover {
  color: var(--second-color);
}

.nav_toggle,
.nav_logo {
  color: var(--light-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.show {
  left: 0;
}

/*ACTIVE MENU*/
.active {
  color: var(--second-color);
}

/*HOME SECTION*/
.home_container {
  height: calc(100vh - var(--header-height));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home_img {
  padding-top: 2rem;
  padding-left: 1.3rem;
  width: 160px;
  height: 160px;
  background-color: var(--first-color);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.home_img img {
  width: 155px;
  height: 155px;
}

.home_title {
  font-family: "Raleway", sans-serif;
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-black);
}

.home_profession {
  font-size: var(--font-size-small);
  color: var(--first-color);
  margin-bottom: var(--mb-5);
}

.home_social {
  margin-bottom: 8rem;
}

.home_social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--light-color);
  font-size: 1.8rem;
  border-radius: 50%;
  padding: 0.65rem;
  margin: 0 var(--mb-1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home_social-link:hover {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.home_btn {
  width: 100%;
}

/*BUTTONS*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--light-color-lightened);
  padding: 1.6rem 3.2rem;
  font-weight: var(--font-weight-bold);
  border-radius: 1.5rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.btn_light {
  background-color: var(--firt-color-lightened);
  color: var(--light-color);
}

.btn_light:hover {
  background-color: var(--second-color-lightened);
  color: var(--dark-color);
}

/*ABOUT SECTION*/
.about {
  padding: 1.5rem;
  color: --d;
}

.about_container {
  row-gap: 3.2rem;
}

.about_data {
  text-align: center;
}

.about_description {
  margin-bottom: var(--mb-4);
}

.about_img {
  width: 150px;
  height: 150px;
  border-radius: 0.8rem;
  margin: 0 auto;
  background-color: var(--dark-color);
}

.about_information {
  margin-bottom: var(--mb-4);
  color: var(--dark-color);
}

.about_information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
}

.about_information-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.4rem;
  margin-bottom: var(--mb-3);
}

.about-information-icon {
  font-size: 2.4rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.about_information-subtitle {
  display: block;
  font-weight: var(--font-size-medium);
}

.about_information-subtitle-small {
  font-size: var(--font-size-smaller);
}

/*SKILLS*/
.skills_container {
  row-gap: 3.2rem;
}

.skills_subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
}

.skills_data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--dark-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

.skills_name {
  text-transform: uppercase;
}

.skills_bar {
  position: absolute;
  bottom: -1.2rem;
  height: 0.4rem;
  background-color: var(--first-color);
}

.skills_html {
  width: 80%;
}

.skills_js {
  width: 70%;
}

.skills_react {
  width: 60%;
}

.skills_sass {
  width: 80%;
}

.skills_ps {
  width: 85%;
}

.skills_il {
  width: 90%;
}

.skills_id {
  width: 70%;
}

.skills_fg {
  width: 60%;
}

/*EDUCATION*/
.education_container {
  color: var(--dark-color);
  row-gap: 2rem;
}

.education_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
}

.education_year,
.education_career {
  font-size: var(--h3-font-size);
  margin-bottom: 0.4rem;
}

.education_university {
  display: block;
  font-size: var(--font-size-smaller);
}

.education_year,
.education_university {
  text-align: right;
}

.education_time {
  padding: 0 1.6rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.education_rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--firt-color-lightened);
  border-radius: 50%;
}

.education_rounder::before {
  content: " ";
  position: absolute;
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education_line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--firt-color-lightened);
  -webkit-transform: translate(5px, -10px);
          transform: translate(5px, -10px);
}

/*services*/
.services_container {
  row-gap: 3.2rem;
}

.services_content {
  padding: 2.4rem 0.8rem;
  border: 2px solid var(--first-color);
  border-radius: 0.8rem;
  text-align: center;
}

.services_icon {
  font-size: 3.2rem;
  padding: 0.8rem;
  background-color: var(--first-color);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.services_title {
  font-size: 2rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.services_content,
.services_icon,
.services_description,
.services_title {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services_content:hover {
  background-color: var(--firt-color-lightened);
}

.services_content:hover .services_icon {
  background-color: transparent;
}

.services_content:hover .services_title {
  color: var(--light-color);
}

.services_content:hover .services_description {
  color: var(--light-color-lightened);
}

/*PROJECTS IN MIND*/
.projects {
  background-color: var(--first-color);
  padding-bottom: 0;
}

.projects_container {
  row-gap: 6.4rem;
  padding-top: 3.2rem;
}

.project_data {
  text-align: center;
}

.project_title,
.project_description {
  color: var(--light-color);
}

.project_description {
  margin-bottom: var(--mb-4);
}

/*WORKS*/
.works_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2rem;
}

.works_img {
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
}

.works_data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9b90fc67;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.works_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2.4rem;
  background-color: var(--light-color);
  color: var(--first-color);
  padding: 0.4rem;
  margin-bottom: var(--mb-2);
  border-radius: 0.4rem;
}

.works_title {
  font-size: var(--h2-font-size);
  color: var(--light-color);
}

.works_img:hover .works_data {
  bottom: 0%;
}

/*CONTACT*/
/*FOOTER*/
.footer {
  background-color: var(--first-color);
  color: var(--light-color);
  text-align: center;
}

.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
  color: var(--light-color-lightened);
}

.footer_description {
  margin-bottom: var(--mb-2);
  color: var(--light-color-lightened);
}

.footer_social {
  margin-bottom: 4.8rem;
}

.footer_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--light-color);
  font-size: 1.76rem;
  border-radius: 50%;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer_link:hover {
  color: var(--second-color);
}

.foooter_copy {
  color: var(--second-color-lightened);
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  .home_btn {
    width: initial;
  }
  .nav_menu {
    width: var(--nav-whidth);
  }
  .about_container,
  .skills_container,
  .services_container,
  .works_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about_data {
    text-align: initial;
  }
  .about_description {
    margin-bottom: var(--mb-5);
  }
  .about_img {
    width: 22ppx;
  }
  .about_information {
    padding-left: 6.4rem;
  }
  .education_time {
    padding: 0 3.2rem;
  }
  .projects {
    background: none;
  }
  .projects_container {
    background-color: var(--first-color);
    -ms-grid-columns: 2fr 1.2fr;
        grid-template-columns: 2fr 1.2fr;
    padding: 0 3.2rem;
    border-radius: 0.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5rem;
  }
  .project_data {
    padding: 4.8rem 0;
  }
  .project_data,
  .project_title {
    text-align: initial;
  }
}
/*# sourceMappingURL=style.css.map */